* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: white;
}
.navbar {
    position:fixed;
    background-color: #272829;
    width: 100%;
    top: 0;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
    gap: 50px;
    padding-right:40px;
}
a {

    text-decoration: none;
    color: rgba(255, 255, 255, 0.767);
}
a:hover {
    color: rgb(255, 255, 255);
}


img.img {
    position:fixed;
    top: 0cm;
    width: 4%;
    left: 10px;
    border-radius: 50%;
    object-fit: cover;
}
img.img1 {
    position: fixed;
    padding: 2px;
    background-color: black;
    width: 17%;
    right: 42.4%;
    top: 4.1cm;
    border-radius: 50%;
    border-color: black;
    object-fit: cover;
}
p.p1 {
    position: fixed;
    left: 14cm;
    font-size: 46px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 8.6cm;
    color: black;
}
p.p2 {
    position: fixed;
    left: 26%;
    top: 11.6cm;
    font-size: 26px;
    font-family: monospace;
}
.details {
    position: absolute;
    left: 41%;
    font-size: 38px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 11cm;
    color: black;
}

@media only screen and (max-width:1920px) {
    img.img {
        width: 3.2%;
        left: 20px;
    }
    img.img1 {
        top: 3cm;
    }
    p.p1 {
        left: 44%;
        top: 10.8cm;
    }
    .details {
        left: 43%;
        top: 46%;
    }
    p.p2 {
        left: 33.5%;
        top: 13.6cm;
        font-size: 28px;
    }
    .navbar {
        height: 62px;
    }
    li {
        font-size: 26px;
    }
    ul {
        gap: 75px;
    }
}

@media only screen and (max-width:1328px) {
    .navbar {
        height: 60px;
    }
    p.p1 {
        left: 42.5%;
    }
    img.img1 {
        top: 3.9cm;
    }
    img.img {
        width: 4.5%;
    }
    ul {
        top: 0cm;
        font-size: 20px;
    }
}

 /* İphone SE,12/13 Pro Max,Galaxy S20,S10: */
@media screen and (max-width:431px) {
    .details {
        left: 28.5%;
        font-size: 36px;
    }
    p.p1 {

        left: 31%;
        font-size: 44px;
    }
    .details+.p2 {
        left: 5%;
        font-size: 26px;
    }
    ul {
        gap: 25px;
    }
    img.img1 {
        width: 50%;
        top: 3.8cm;
        left: 26%;
    }
    img.img {
        width: 11%;
        left: 8px;
    }
    
}

@media screen and (max-width:414px) {
    .details {
        left: 28.5%;
        font-size: 36px;
    }
    p.p1 {

        left: 31%;
        font-size: 44px;
    }
    .details+.p2 {
        left: 4.9%;
        font-size: 26px;
    }
    ul {
        gap: 18px;
    }
    img.img1 {
        width: 50%;
        top: 3.8cm;
        left: 26%;
    }
    img.img {
        width: 11%;
        left: 8px;
    }
    
}

@media screen and (max-width:390px) {
    .details {
        left: 28.5%;
        font-size: 36px;
    }
    p.p1 {

        left: 31%;
        font-size: 44px;
    }
    .details+.p2 {
        left: 4.9%;
        font-size: 24px;
    }
    ul {
        gap: 15px;
        padding-right:20px;
    }
    img.img1 {
        width: 50%;
        top: 4cm;
        left: 26%;
    }
    img.img {
        width: 11%;
        left: 8px;
    }
    
}

@media screen and (max-width:360px) {
    .details {
        left: 26%;
        font-size: 36px;
    }
    p.p1 {
        left: 29%;
        font-size: 44px;
    }
    .details+.p2 {
        left: 4.9%;
        font-size: 24px;
    }
    ul {
        gap: 15px;
        padding-right:10px;
    }
    img.img1 {
        width: 50%;
        top: 5cm;
        left: 26%;
    }
    img.img {
        width: 11%;
        left: 8px;
    }
    
}
