html, body {
    background-color: #151515;
    margin-left: 20px;
    margin-right: 20px;
    scroll-behavior: smooth;
    line-height: 1.15;
}
* {
    box-sizing: border-box;
}
.container {
    height: 100%;
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
}
/*NAVBAR KISMI*/
.navbar {
    background-color: #151516;
    width: 100%;
    margin-left: -50px;
    margin-right: -50px;
}
ul {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    list-style-type: none;
}
ul a {
    text-decoration: none;
    color: #FCFCFC;
}
li a {
    padding: 10px;
}
li a:hover {
    background-color: #232323;
}
/*MENÜ KISMI*/
.pp {
    position:absolute;
    padding: 7px;
    border: 2px solid #FFE367;
    width: 240px;
    border-radius: 50%;
    margin-left: 610px;
    margin-top: -20px;
    object-fit: cover;
}
.home {
    color: white;
}
.home .p1 {
    color: #FFFFFF;
    font-family: 'Caveat', cursive;
    font-size: 48px;
}
.home .p2 {
    color: #ffffffd7;
    font-size: 25px;
    font-family: 'Caveat', cursive;
    margin-top: -42px;
}
.home .p3 {
    font-family: 'Indie Flower', cursive;
    color: #999999;
    font-size: 24px;
}
/*What I Do KISMI*/
.whatıdo .p1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 46px;
    font-family: 'Caveat', cursive;
}
.whatıdo .box {
    background-color: transparent;
    box-shadow: 0px 10px 30px 10px black;
    width: 100%;
    height: 273px;
}
.whatıdo .box-in {
    font-family: 'Indie Flower', cursive;
    padding: 40px;
    font-size: 20px;
    color: #999999
}
.whatıdo .box-in-in {
    color: #eeeeee;
}
/*About Me KISMI*/
.aboutme .p1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 46px;
    font-family: 'Caveat', cursive;
}
.aboutme .p2 {
    color: #C1C1C1;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}
/*Contact Me KISMI*/
.contactme .p1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 46px;
    font-family: 'Caveat', cursive;
}
.contactme .p2 {
    color: #C1C1C1;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 22px;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}
.contactme .icons {
    position: relative;
    display: flex;
}
.fa {
    display: flex;
    padding: 20px;
    font-size: 30px;
    text-decoration: none;
    border-radius: 30px 30px 30px 30px;
    margin-left: 20px;
}
.icons .fa:hover {
      opacity: 0.7;
}
.icons .fa-twitter {
    background: #55ACEE;
    color: white;
}
.icons .fa-instagram {
    background: #125688;
    color: white;
}
.icons .fa-github {
    background: #0D1117;
    color: white;
}
.icons .fa-youtube {
    background: #bb0000;
    color: white;
}
/*Projects KISMI*/
.projects {
    display: flex;
    gap: 100px;
}
.projects a {
    text-decoration: none;
}
#projects .p1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 46px;
    font-family: 'Caveat', cursive;
}
.projects .fa-github {
    color: white;
}
.projects .box1 {
    background-color: #232323;
    width: 400px;
    height: 230px;
    border-radius: 10px 10px 10px 10px;
}
.projects .p2 {
    font-size: 22px;
    text-align: left;
    margin-top: -10px;
    margin-left: 38px;
    color: white;
}
.projects .p3 {
    font-size: 18px;
    text-align: left;
    margin-top: -10px;
    margin-left: 36px;
    color: white
}
.projects button {
    background-color: #FFE367;
    border: 1px solid #FFE367;
    padding: 8px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 280px;
    transition: 0.3s ease;
}
.projects button:hover {
    margin-top: -2px
}

.altnavbar-draw {
    background-color: #3F3F3F;
    position: relative;
    margin: auto;
    width: 100%;
    height: 6px
}
.altnavbar-about ul {
    padding-top: 10px;
}
.altnavbar-about .lilwolf {
    color: rgb(151, 151, 151);
    margin-top: 20px;
    margin-left: 400px;
}

.btn{
    display: none;
    cursor: pointer;
    position: fixed; 
    bottom: 30px;
    right: 40px;
    z-index: 99;
    border-radius: 20%;
    background-color: #232323;
    color: white;
    border: none;
    transition:ease-out;
    transition-duration: 0.1s;
}
.btn img {
    width: 36px;
}
.btn:hover {
    box-shadow: 0px 5px 10px 5px black;
    bottom: 32px;
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat:wght@500;600;700&family=Indie+Flower&family=Kalam:wght@300;400;700&family=Permanent+Marker&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Caveat&family=Fuzzy+Bubbles:wght@400;700&family=Inconsolata:wght@400;500&family=Indie+Flower&family=Roboto+Mono:wght@200;300;400&family=Roboto:wght@300;400&family=Vollkorn:wght@400;500&display=swap');
